.cubo{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: relative;
    top: 200px;
    left: 200px;
    animation-name: cubo;
    animation animation-duration: 10x;
    animation-iteration-count: infinite;
    
}

@keyframes cubo{
    0% {background-color: blue; top: 200px; left: 200px;}
    25% {background-color: rgb(158, 4, 112); top: 400px; left: 300px;}
    50% {background-color: rgb(80, 231, 148); top: 350px; left: 200px;}
    75% {background-color: rgb(155, 180, 13); top: 100px; left: 200px;}
    100% {background-color: rgb(253, 19, 19); top: 200px; left: 200px;}
}